
.switch{
    position: fixed;
}

.card {
    flex-basis: auto;
    text-align: center;
    overflow: auto;
    background-color: hsl(0, 0%, 20%);
    height:40vh;
    width: 100%;
    color: aliceblue;
}

.gameInfo{
    position: relative;
    width: 70%;
    display: inline-block;
    height: 100%;
}

.card > .img-container {
height: 60%;
overflow: hidden;
text-align: center;
background:#6CADDC;
}
.card > .img-container > img {
width: 60%
}

.card > .content {
padding-left: 1rem;
padding-right: 1rem;
font-size: 15px;
position: relative;
left: 0;
top: 0;
z-index: 3;
}

.card > .content > ul {
list-style-type: none;
}

.card > .content > ul > li {
margin-top: .5vh;
}

.card > .remove {
color: #ff1744;
font-size: 48px;
position: absolute;
top: -20px;
right: 5px;
cursor: pointer;
}

.card > .remove:hover {
    color: #d50000;
}

.switch{
    position:fixed;
}

.card {
    flex-basis: auto;
    text-align: center;
    overflow: auto;
    background-color: hsl(0, 0%, 20%);
    height:40vh;
    width: 60%;
    color: aliceblue;
}

.card > .img-container {
height: 60%;
overflow: hidden;
text-align: center;
background:#6CADDC;
}
.card > .img-container > img {
width: 60%
}

.card > .content {
padding-left: 1rem;
padding-right: 1rem;
font-size: 15px;
position: relative;
left: 0;
top: 0;
z-index: 3;
}

.card > .content > ul {
list-style-type: none;
}

.card > .content > ul > li {
margin-top: .5vh;
}

.card > .remove {
color: #ff1744;
font-size: 48px;
position: absolute;
top: -20px;
right: 5px;
cursor: pointer;
}

.card > .remove:hover {
    color: #d50000;
}

.buttonsDivL ,.buttons{

    z-index: 1;
    width: 140px;
    height: 140px;
    position: absolute;
    bottom: 20%;
    transform: rotate(
    45deg
);

}

.buttonsDivR ,.buttons{
    z-index: 1;
    width: 140px;
    height: 140px;
    top:10%;
    position: absolute;
    transform: rotate(
    45deg
);

}

.controller {
position: absolute;
display: flex;
height: 60vh;
width: 80vw;
top: 50%;
border-radius: 45rem;
}

.controller-left {
background-color: #00bbe3;
content: "";
width: 15%;
height: 100%;
z-index: 0;
display: inline-block;
border: 16px solid rgba(0, 0, 0, 0.2);
border-right: none;
border-radius: 96px 0 0 96px;
}

.controller-right {
background-color: #ff5d4c;
content: "";
width: 15%;
height: 100%;
z-index: 0;
border: 16px solid rgba(0, 0, 0, 0.2);
border-left: none;
border-radius: 0 96px 96px 0;
}

#controller-joystick {
top: 25%;
z-index: 10;
border: .5rem solid black;
border-radius: 50%;
}

.controller-left #controller-joystick {
z-index: 0;
left: 10vw;
width: 55%;
height: 15%;
background-color: #e42929;
margin-top: 65%;
margin-left: 15%;
}

.fa-thumbs-down {
font-size: 50px;
margin-left: 12px;
margin-top: 15px;
}

.controller-right #controller-joystick {
left: 10vw;
width: 55%;
height: 15%;
background-color: #06b120;
margin-left: 15%;
margin-top: 100%;
}


.fa-thumbs-up {
font-size: 50px;
margin-left: 10px;
margin-top: 7px;
}

/*.buttons {
z-index: 1;
width: 10vw;
height: 10vh;
position: absolute;
transform: rotate(45deg);
} */

.buttons.button-arrows button::after {
content: "";
}

.controller-left .buttons {
top: 55vh;
left: 11vw;
}

.controller-right .buttons {
top: 30vh;
right: -25vw;
} 

.button {
background-color: black;
border-radius: 50%;
width: 45px;
height: 45px;
display: inline-block;
margin: 8px;
}

.button-home,
.button-capture {
position: absolute;
z-index: 1;
top: 80%;
left: 10%;
}

.button-home {
border-radius: 25%;
left: 14vw;
}

.button-capture {
right: -18vw;
}

/* .controller-left .controller-handle {
left: -5px;
} */

/* .controller-right .controller-handle {
transform: scale(2, 4) skew(25deg);
right: -20vw;
} */

.button-minus,
.button-plus {
position: 0 ,0 ;
z-index: 2;
width: 2vw;
height: 1vh;
border-radius: 1rem;
background-color: black;
top: 15vh;
}

.button-minus {
left: 16vw;
}

.button-plus {
right: -16vw;
}

.button-plus .left {
display: inline-block;
position: absolute;
content: "";
width: inherit;
height: inherit;
border-radius: inherit;
transform: rotate(90deg);
background-color: inherit;
z-index: 2;
}