/* @media screen and (min-device-width: 1000px) {
  .containerPlay {
    text-align: center;
    width: 100%;
  }

  .gamesContainer {
    background-color: #171b24;
    color: white;
    font-family: "Iceland", cursive;
    border: 0.3vw;
    border-color: #5eb090;
    border-style: solid;
    padding: 0.5vw;
    min-width: 250px;
    height: 60vh;
    margin-left: -50%;
    margin-top: 15%;
  }

  .marginLeft {
    margin-left: 3vw;
  }

  .jumbotronMain {
    height: 70vh;
    width: 100%;
    padding: 0 5% 10% 5%;
    background-color: #242329;
    margin-top: 25px;
    font-family: "Iceland", cursive;
    border-style: solid;
    border-width: 4px;
    border-color: #f4b324;
    flex-basis: auto;
    text-align: center;
  }

  .logo {
    margin-left: -14%;
    margin-top: 10%;
    padding: 0rem;
    height: 200px;
    width: 200px;
    position: relative;
  }
} */

@media screen and (min-device-width: 1700px) {
  .containerPlay {
    width: 100%;
    text-align: center;
  }

  .gamesContainer {
    background-color: #171b24;
    color: white;
    font-family: "Iceland", cursive;
    border: 0.3vw;
    border-color: #5eb090;
    border-style: solid;
    padding: 0.5vw;
    min-width: 250px;
    height: 60vh;
    margin-top: 15%;
  }

  .marginLeft {
    margin-left: 1vw;
  }

  .jumbotronMain {
    height: 70vh;
    width: 100%;
    padding: 0 5% 10% 5%;
    background-color: #242329;
    margin-top: 25px;
    font-family: "Iceland", cursive;
    border-style: solid;
    border-width: 4px;
    border-color: #f4b324;
    flex-basis: auto;
    text-align: center;
  }

  .logo {
    margin-left: -14%;
    margin-top: 10%;
    padding: 0rem;
    height: 200px;
    width: 200px;
    position: relative;
  }
}
