.jumbotronGif {
  padding: 0rem;
  height: 100%;
  width: 82%;
  padding-top: 0px;
  background-color: #242329 !important;
  margin-top: 5%;
  font-family: "Iceland", cursive;
  border-style: solid;
  border-width: .3rem;
  border-color: #f4b324;
  text-align: center;
}

.hr {
  width: 100%;
  height: .2rem;
  background-color: #f4b324;
  border: 0 none;
  margin-top: 0%;
  padding: 0%;
  margin-bottom: 1%;
}

.card-img-top {
  padding-top: 3%;
  height: 90%;
  width: 100%;
}

.container-text {
  padding: 1%;
  padding-bottom: 2%;
}

.containerForm.transbox {
  margin-top: 5%;
  margin-left: 2%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  font-family: "Iceland", cursive;
}

#header {
    text-align: center;
    color: white;
}

h4 {
    color: rgb(168, 162, 162);
    text-align: center;
}

