.quest-img-top{
    padding: 0px;
    margin-left: -35px;
    height: 200px;
    width: 910px;
}
.hrcon{
    width: 917px;
    height: 3px;
    margin-left: -40px;
    margin-right: 10px;
    background-color:#f4b324;
    border: 0 none;
    margin-top: 0px;
    margin-bottom:5px;
}