.navbar {
  background-color: #d1233b;
  color: #303030;
  height: 50px;
}

.navbar-brand {
  font-family: "Iceland", cursive;
  color: #303030;
}

.nav-link {
  font-family: "Iceland", cursive;
  color: #f4b324;
  margin-right: 20px;
  font-size: 35px;
}
